<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name='camera_link'>
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    <visual>
      <geometry>
        <box size='0.02 0.05 0.05'/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size='0.02 0.05 0.05'/>
      </geometry>
    </collision>
  </link>

  <gazebo reference='camera_link'>
    <material>Gazebo/Black</material>
    <sensor type='camera' name='my_camera_sensor'>
      <update_rate>30.0</update_rate>
      <camera name='head'>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name='camera_controller' filename='libgazebo_ros_camera.so'>
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>my_camera/rgb</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
